/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
input[type=search], button[type="submit"]{
    border: none;
    outline: none;
}

.section-title {
    margin-top: 60px;
}

.section-title h3 {
    border: 2px solid #000;
    display: inline-block;
    padding: 10px 20px;
}

/*--------------   S T A R T CSS ----------------------*/


.header-top-area {
    background-color: #333;
}

.header-top-area a {
    color: #fff;
    display: inline-block;
    padding: 10px;
}

.single-portfolio-item {
    background-color: #ddd;
    height: 320px;
    position: relative;
    background-size: cover;
    background-position: center;
    margin: 15px 0;
}
.portfolio-bg{
    background-image: url(../img/bg.jpg);
}

.portfolio-info {
    background-color: #00c6f3b8;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s;
    padding-top: 100px;
    font-weight: 700;
}

.portfolio-info a {
    color: #000;
    border: 2px solid #000;
    padding: 5px 10px;
    display: inline-block;
}

.single-portfolio-item:hover .portfolio-info {
    opacity: 1;
}


/*add this css on shokharbazar.com/sohan and then delete this commment*/

.wp .portfolio-info p {
    margin-bottom: 10px;
}

.wp .portfolio-info {
    padding-top: 70px;
}